html {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgb(245, 247, 251);
}

header {
    height: 50px;

}


#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;

}

#board div {
    border: rgb(247, 207, 214) 2px solid;
    text-align: center;
    border-radius: 10px;
}

.avocadoBox {
    background: url(images/avocado.png) no-repeat center;
    background-size: cover;
}

.pizzaBox {
    background: url(images/pizza.png) no-repeat center;
    background-size: cover;
}

#board div:hover {
    transform: scale(1.5);
    border: none;
    transition: all 0.5s;
}

button {
    margin-top: 50px;
    border: 1px solid red;
    background-color: #e2197d;
    border-radius: 5px;
    padding: 5px 15px;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 5px;
    /* display: inline-block; */
    font-size: 1.1rem;
    transition: transform 0.8s ease-in-out;
}


button:hover {
    background-color: #f03f98;
    transform: 0.8s;
    cursor: pointer;
    /* top: -5px; */
}

button:active {
    background-color: #ad2368;
    transform: 0.8s;
    cursor: pointer;
    /* top: -5px; */
}